In [95]:
import sqlite3 
from Employee import Employee

In [96]:
conn = sqlite3.connect('Mydatabase.db')
c = conn.cursor()


c.execute("""CREATE TABLE employees_n (
            first text,
            last text,
            pay integer
            )""")
conn.commit()

OperationalError: table employees_n already exists

In [97]:
def insert_emp(emp):
    with conn:
        c.execute("INSERT INTO employees_n VALUES (:first_name, :last_name, :salary)", 
                  {'first_name':emp.first_name, 'last_name':emp.last_name, 'salary':emp.salary})

In [77]:
a = input("Enter first name:- ")
b= input("Enter last name:- ")
c = input("Enter salary:- ")

Enter first name:- Akshay
Enter last name:- Deokar
Enter salary:- 35000

In [86]:
emp_1 = Employee(a, b, int(c))

In [94]:
emp_1.salary

35100

In [98]:
insert_emp(emp_1)

In [ ]:
emp_1 = Employee("Rahul", "Chavan", 10000)