In [95]:
import sqlite3 
from Employee import Employee

In [96]:
conn = sqlite3.connect('Mydatabase.db')
c = conn.cursor()


c.execute("""CREATE TABLE employees_n (
            first text,
            last text,
            pay integer
            )""")
conn.commit()

OperationalError: table employees_n already exists

In [97]:
def insert_emp(emp):
    with conn:
        c.execute("INSERT INTO employees_n VALUES (:first_name, :last_name, :salary)", 
                  {'first_name':emp.first_name, 'last_name':emp.last_name, 'salary':emp.salary})

In [77]:
a = input("Enter first name:- ")
b= input("Enter last name:- ")
c = input("Enter salary:- ")

Enter first name:- Akshay
Enter last name:- Deokar
Enter salary:- 35000

In [86]:
emp_1 = Employee(a, b, int(c))

In [94]:
emp_1.salary

35100

In [98]:
insert_emp(emp_1)

In [ ]:
emp_1 = Employee("Rahul", "Chavan", 10000)

In [69]:
conn = sqlite3.connect('Mydatabase.db')
c = conn.cursor()


c.execute("""CREATE TABLE employees_n (
            first text,
            last text,
            pay integer
            )""")

OperationalError: table employees_n already exists

In [56]:
#res =c. execute("SELECT name FROM sqlite_master WHERE type='table';")

In [62]:
#res.fetchall()

In [70]:
# c.execute("""
#           CREATE TABLE employees
#           (first_name TEXT,
#           last_name TEXT
#           salary INTEGER
#           )""")
conn.commit()
def insert_emp(emp):
    with conn:
        c.execute("INSERT INTO employees_n VALUES (:first_name, :last_name, :salary)", 
                  {'first_name':emp.first_name, 'last_name':emp.last_name, 'salary':emp.salary})

#         c.execute("INSERT INTO employees VALUES (:first, :last, :pay)", {'first': emp.first, 'last': emp.last, 'pay': emp.pay})

        #     with conn:
#         c.execute("INSERT INTO employees VALUES (:first_name, :last_name, :salary)", {'first_name':emp.first_name, 'last_name':emp.last_name, 'salary':emp.salary})

# def get_emp_names(last_name):
#     c.exceute("SELECT * FROM employees WHERE last_name=:last_name", {'last_name': last_name})
#     return c.fetchall()

# def raise_salary(emp, salary):
#     with conn:
#         c.execute('''UPDATE employees SET salary = :salary
#                     WHERE first_name = :first_name AND last =: last_name''',
#                   {'first_name': emp.first_name, 'last_name': emp.last_name, 'salary': salary})

# def remove_emp(emp):
#     with conn:
#         c.exceute("DELETE from emloyees WHERE first_name = :first_name AND last_name =:last_name",
#                   {'first_name':emp.first_name, 'last_name':emp.last_name})

OperationalError: table employees already exists

In [71]:
emp_1 = Employee("Rahul", "Chavan", 10000)
emp_2 = Employee("Mahesh", "Pawar", 15000)
emp_3 = Employee("Suresh", "Chavan", 20000)

In [66]:
#c.execute("INSERT INTO employees_n VALUES (emp_1.first_name, emp_1.last_name, emp_1.salary)")

In [63]:
#emp_1.first_name

In [64]:
#insert_emp(emp_1)

In [67]:
insert_emp(emp_1)
insert_emp(emp_2)
insert_emp(emp_3)

# emps = get_emp_names("Chavan")
# print(emps)

# raise_salary(emp_2, 18000)
# remove_emp(emp_1)